.nav{
  clear: both;
  text-align: center;
  img{
    // float: left;
    width: 2em;
    // padding-top: 1em;
  }
  h1{
    display: inline-block;
    margin: 0;
    margin-left: 0.5em;
  }
  nav{
    display: inline-block;
    margin: 0 1em;
    // float: right;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  li{
    padding: 0;
    display: inline-block;
    margin-left: 1em;
    a{
      text-decoration: none;
      color: #0a0a0a;
    }
  }
}